<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiveLocator</title>
    <link rel="icon" href="https://i.pinimg.com/564x/1d/04/b4/1d04b4cec8c1fbcf06303bc1a10b6862.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.0/leaflet.css" integrity="sha512-UkezATkM8unVC0R/Z9Kmq4gorjNoFwLMAWR/1yZpINW08I79jEKx/c8NlLSvvimcu7SL8pgeOnynxfRpe+5QpA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="map" style="height: 100vh;"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.0/leaflet-src.min.js" integrity="sha512-cE12qxiieugPi5HDieB2JjwwSsbA1VtDuBOQXq+1K1zjFPGnXTRaLwYUnI6USviBSpJcTOPGph7uKpvBjVPGDA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
